html,body{
  background-color: lightgreen;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 0;
  font-family: sans-serif;
}

.grid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 20%) auto;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "header header"
    "side inhalt"
    "footer footer"
}

.header{
  grid-area: header;
  padding: 10px 20px 10px 0;
  font-size: 9pt;
  background-color: lightgreen;
}

.header div{
  padding: 0 0 0 0;
}

.side{
  border-radius: 15px;
  grid-area: side;
  padding: 0 0.3em 0 0.3em;
  margin-left: 5px;
  background-color: lightgrey;
  border: 2px solid black;
  position: relative;
}

.pic{
  margin: 2em;
  width: auto;
}

.inhalt{
  padding-top: 20px;
  padding-bottom: 20px;
  border: 3px solid antiquewhite;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 15px;
  grid-area: inhalt;
  font-size: 0.875em;
  line-height: 1.6;
  background-color: lightblue;
}

.inhalt ul li{
  list-style-type: none;
  border-radius: 5px;
  width: content-minimum;
  height: content-minimum;
  border: 1px solid black;
  padding: 5px;
  margin-right: 8px;
  margin-top: 5px;
  display: inline-block;
}

.footer{
  grid-area: footer;
  font-size: 70%;
  background-color: lightgreen;
  margin-left: 1%;
}

.footerimage{
  padding-left: 5px;
  padding-right: 5px;
  height: 15px;
}

.footer p{
  margin-right: 20px;
  text-align: right;
}

.topics ul{
  padding-left: 0;
  padding-bottom: 35px;
}

.topics li{
  margin: 0.5em;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
}

#Überschrift{
  border-bottom: 3px solid black;
}

#AktuelleListe{
  background-color: antiquewhite;
}

.nichtaktuelleListe:hover{
  border: 1px solid antiquewhite;
}

#Hinzufügen{
  height: 15px;
  float: right;
}

#Hinzufügen:hover{
  transform:scale(1.7);
}

#Eingabe{
  font-size: small;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  margin-left: 5em;
}

#Banner a{
  padding-left: 40px;
}


#Element_hinzufügen{
	display: flex;
	align-items: center;
	justify-content: center;
  height: 70px;
}

#Listenname{
	display: flex;
	align-items: center;
	justify-content: center;
  height: 0px;
}

#Listenname:hover{
  cursor: default;
}

.inhalt h1{
  padding-bottom: 170px;
}

/*--------------------------------------*/

.topics #open-dialog {
  padding-left: 10px;
  padding-right: 1px;
  padding-top: 1px;
  height: 15px;
  float: right;
}

.topics #open-dialog:hover{
  cursor: pointer;
  padding-right: 0px;
  padding-top: 0px;
  height: 18px;
}

.topics dialog {
  padding-left: 50%;
	display: none;
	position: relative;
	background: white;
	border: 1px solid grey;
	border-radius: 0.5em;
	z-index: 1002;
	width: 100%;
	height: auto;
}

.topics dialog[open="open"] {
	display: block;
}

@media (min-width: 20em) {
	.topics dialog {
    overflow: visible;
    position: fixed;
    margin-left: calc(10%-500px);
    margin-right: calc(10%+500px);
    padding-left: 2em;
    padding-right: 2em;
    width: 30%;
    min-width: 300px;
  }
}

.topics dialog::backdrop, #backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.topics dialog #close-dialog {
	position: absolute;
  align-content: center;
  text-align: center;
  margin-left: 68%;
  height: 30px;
  width: 20%;
  min-width: 50px;
  cursor: pointer;
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 0.74em;
  border-radius: 0.5em;
  outline: 0;
}

/*------------------------------------*/

dialog, button {
	border-radius: 0.5em;
	margin: 1em;
}

button {
  background: transparent;
  border: none;
	padding: 0.5em 1em;
	font-size: 1em;
	color: none;
	cursor: pointer;
}

#startbild{
  padding-top: 1px;
  height: 35px;
  float: right;
}

#start:hover, #start:focus {
  transform:scale(1.4);
}

dialog {
  margin-left: 25%;
  margin-right: 25%;
	display: none;
	position: fixed;
	background: white;
	border: 1px solid grey;
	border-radius: 0.5em;
	z-index: 1002;
	width: 50%;
	height: auto;
}

dialog::backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

dialog[open] {
	display: block;
}
