html,body{
  background-color: lightgreen;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 0;
  font-family: sans-serif;
}

.grid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 20%) auto;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "header headerlistname"
    "side inhalt"
    "footer footer"
}

.header{
  grid-area: header;
  padding: 10px 20px 10px 0;
  font-size: 9pt;
  background-color: lightgreen;
}

.headerlistname{
  grid-area: headerlistname;
  padding-top: 80px;
  /* font-size: 9pt; */
  background-color: lightgreen;
}
.header div{
  padding: 0 0 0 0;
}

.side{
  border-radius: 15px;
  grid-area: side;
  padding: 0 0.3em 0 0.3em;
  margin-left: 5px;
  background-color: lightgrey;
  border: 2px solid black;
  position: relative;
}

.pic{
  margin: 2em;
  width: auto;
}

#listcreate{
  /* margin-bottom: 10px; */
}

.inhalt{
  padding: 20px;
  border: 3px solid antiquewhite;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 15px;
  grid-area: inhalt;
  font-size: 0.875em;
  line-height: 1.6;
  background-color: lightblue;
}

.inhalt ul li{
  list-style-type: none;
  border-radius: 5px;
  width: 200px;
  height: min-content;
  border: 1px solid black;
  padding: 5px;
  margin-right: 8px;
  margin-top: 5px;
}

.footer{
  grid-area: footer;
  font-size: 70%;
  background-color: lightgreen;
  margin-left: 1%;
}

.footerimage{
  padding-left: 5px;
  padding-right: 5px;
  height: 15px;
}

.footer p{
  margin-right: 20px;
  text-align: right;
  }

.topics ul{
  padding-left: 0;
  padding-bottom: 35px;
}

.topics li{
  margin: 0.5em;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
}

input{
  margin: 0.5em;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
}

#Überschrift{
  border-bottom: 3px solid black;
}

#AktuelleListe{
  background-color: antiquewhite;
}

.anotherlist:hover{
  border: 1px solid antiquewhite;
  cursor: pointer;
}

.anotherlist:focus{
  background-color: yellow;
}

#Hinzufügen{
  height: 15px;
  float: right;
}

#Hinzufügen:hover{
  transform:scale(1.7);
}

#Eingabe{
  font-size: small;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  margin-left: 5em;
}

#Banner button{
  padding-left: 40px;
}

#createreturn{
  padding-left: 50px;
}

#Element_hinzufügen{
	display: flex;
	align-items: center;
	justify-content: center;
  height: 70px;
}

#Listennamediv{
	display: flex;
	align-items: center;
	justify-content: center;
  height: 0px;
}

#Listennamediv:hover{
  cursor: default;
}

/* li button{
  width: 100%;
  text-align: left;
} */
/*
.inhalt h1{
  padding-bottom: 170px;
} */

.itemcontent{
  border: 1px solid black;
  /* list-style-type: none; */
  border-radius: 5px;
  width: 200px;
  height: content-minimum;
  border: 1px solid black;
  padding: 5px;
  margin-right: 8px;
  margin-top: 5px;
}

.löschbutton{
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  height: content-minimum;
  background-color: yellow;
}

/*--------------------------------------*/

.topics #open-dialog {
  padding-left: 10px;
  padding-right: 1px;
  padding-top: 1px;
  height: 15px;
  float: right;
}

.topics #open-dialog:hover{
  cursor: pointer;
  padding-right: 0px;
  padding-top: 0px;
  height: 18px;
}

.topics dialog {
  padding-left: 50%;
	display: none;
	position: relative;
	background: white;
	border: 1px solid grey;
	border-radius: 0.5em;
	z-index: 1002;
	width: 100%;
	height: auto;
}

.topics dialog[open="open"] {
	display: block;
}

@media (min-width: 20em) {
	.topics dialog {
    overflow: visible;
    position: relative;
    margin-left: calc(10%-500px);
    margin-right: calc(10%+500px);
    padding-left: 2em;
    padding-right: 2em;
    width: 30%;
    min-width: 300px;
  }

}

.topics dialog::backdrop, #backdrop {
	/* position: fixed; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.topics dialog #close-dialog {
	position: absolute;
  align-content: center;
  text-align: center;
  margin-left: 68%;
  height: 30px;
  width: 20%;
  min-width: 50px;
  cursor: pointer;
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 0.74em;
  border-radius: 0.5em;
  outline: 0;
}

/*------------------------------------*/

button {
  background: transparent;
  border: none;
	font-size: 1em;
	color: none;
	cursor: pointer;
  margin: 0;
  outline-style: none;
}

#postrequest{
    margin: 1em;
}

#startbild{
  padding-top: 1px;
  height: 35px;
  float: right;
}

#dialogplus{
  padding-top: 1px;
  height: 15px;
  float: right;
}

#listheader{
  float: right;
  /* margin-right: 1em; */
}

#listheader span{
  margin: 1em;
}

#inputlistbyid{
  margin: 0;
  margin-bottom: 5px;
  width: 90%;

}

#butlistbyid{
  margin: 0.5em;
  margin-left: 45%;
}

.buttontext{
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  /* margin: 8px; */
  /* margin-top: 5px; */
}

.buttontext:hover{
  border: 1px solid antiquewhite;
}

.plusbutton:hover, .plusbutton:focus {
  transform:scale(1.4);
}

.side dialog {
  margin-left: 25%;
  margin-right: 25%;
	display: none;
	position: fixed;
	background: white;
	border: 1px solid grey;
	border-radius: 0.5em;
	z-index: 1002;
	width: 50%;
	height: auto;
}

.side dialog[open] {
	display: block;
}

h1{
  padding: 0px;
}

#qrcodepic{
  float: right;
  vertical-align: bottom;
  margin: 10px;
}

#qrcodelistpic{
  margin: 10px;
}

#qrcodeitemspic{
  margin: 10px;
  float: right;
}
