html,body{
  background-color: lightgreen;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 0;
  font-family: sans-serif;
}

.grid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 20%) auto;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "header headerlistname"
    "side inhalt"
    "footer footer"
}

.header{
  grid-area: header;
  padding: 10px 20px 10px 0;
  font-size: 9pt;
  background-color: lightgreen;
}

@media (max-width: 640px) {
  /* .grid {
    grid-template-columns: minmax(0, 0) auto;
  }
  #Banner{
    visibility: hidden;
  }
  .side{
    display: none;
  } */
  .grid{
    grid-template-columns: 0 auto;
    grid-template-rows: 150px min-content min-content min-content min-content;
    grid-template-areas:
    "header headerlistname"
    "side side"
    "inhalt inhalt"
    "inhaltfooter inhaltfooter"
    "footer footer"
  }
  #Banner{
    visibility: hidden;
  }

  /* #Listennamediv{
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */

  .inhalt{
    width: 94%;
    /* margin-top: 450px;
    bottom: min-content; */

  }
  .side{
    width: 94%;
    margin-right: 2%;
    /* top: 150px;
    bottom: min-content; */
  }
  .footer{
    width: 94%;
    /* top: 1fr;
    bottom: 0; */
  }
  #qrqrcodelistpic{
    width: 0;
  }
  #qrqrcodeitemspic{
    width: 0;
  }
}


.headerlistname{
  grid-area: headerlistname;
  padding-top: 80px;
  background-color: lightgreen;
}

.header div{
  padding: 0 0 0 0;
}

#Banner{
  padding-left: 40px;
}

.side{
  border-radius: 15px;
  grid-area: side;
  padding: 0 0.3em 0 0.3em;
  margin-left: 2%;
  background-color: lightgrey;
  border: 2px solid black;
  /* position: relative; */
}

.pic{
  margin: 2em;
  width: auto;
}

.inhalt{
  padding: 0 0.3em 1em 0.3em;
  border: 3px solid antiquewhite;
  border-radius: 15px;
  margin-left: 2%;
  margin-right: 2%;
  grid-area: inhalt;
  font-size: 0.875em;
  line-height: 1.6;
  background-color: lightblue;
}

.inhalt div{
  padding: 20px;
}

.inhalt ul li{
  list-style-type: none;
  border-radius: 5px;
  width: 200px;
  height: min-content;
  border: 1px solid black;
  padding: 5px;
  margin-right: 8px;
  margin-top: 5px;
}

.footer{
  grid-area: footer;
  font-size: 70%;
  background-color: lightgreen;
  margin-left: 1%;
}

.footerimage{
  padding-left: 5px;
  padding-right: 5px;
  height: 15px;
}

.footer p{
  margin-right: 20px;
  text-align: right;
  }

.topics ul{
  padding-left: 0;
  padding-bottom: 35px;
}

.topics li{
  word-wrap: break-word;
  margin: 0.5em;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  overflow: hidden;
}

input{
  outline: none;
  margin-bottom: 0.5em;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
}

#Überschrift{
  border-bottom: 3px solid black;
}

#AktuelleListe{
  background-color: antiquewhite;
}

.anotherlist:hover{
  border: 1px solid antiquewhite;
  cursor: pointer;
}

.anotherlist:focus{
  background-color: yellow;
}

#Hinzufügen{
  height: 15px;
  float: right;
}

#Hinzufügen:hover{
  transform:scale(1.7);
}

#Eingabe{
  font-size: small;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  margin-left: 5em;
}


#Element_hinzufügen{
	display: flex;
	align-items: center;
	justify-content: center;
  height: 70px;
}

#Listennamediv{
	display: flex;
	align-items: center;
	justify-content: center;
  height: 0px;
}

#Listennamediv:hover{
  cursor: default;
}

/* li button{
  width: 100%;
  text-align: left;
} */
/*
.inhalt h1{
  padding-bottom: 170px;
} */

.itemcontent{
  border: 1px solid black;
  /* list-style-type: none; */
  border-radius: 5px;
  width: 250px;
  height: content-minimum;
  border: 1px solid black;
  padding: 5px;
  margin-right: 8px;
  margin-top: 5px;
}

.löschbutton{
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  height: content-minimum;
  background-color: yellow;
}

/*--------------------------------------*/

.topics #open-dialog {
  padding-left: 10px;
  padding-right: 1px;
  padding-top: 1px;
  height: 15px;
  float: right;
}

.topics #open-dialog:hover{
  cursor: pointer;
  padding-right: 0px;
  padding-top: 0px;
  height: 18px;
}

.topics dialog {
  padding-left: 50%;
	display: none;
	position: relative;
	background: white;
	border: 1px solid grey;
	border-radius: 0.5em;
	z-index: 1002;
	width: 100%;
	height: auto;
}

.topics dialog[open="open"] {
	display: block;
}

.topics dialog {
  overflow: visible;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  width: 30%;
  min-width: 300px;
}


.topics dialog::backdrop, #backdrop {
	/* position: fixed; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.topics dialog #close-dialog {
	position: absolute;
  align-content: center;
  text-align: center;
  margin-left: 68%;
  height: 30px;
  width: 20%;
  min-width: 50px;
  cursor: pointer;
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 0.74em;
  border-radius: 0.5em;
  outline: 0;
}

/*------------------------------------*/

button {
  background: transparent;
  border: none;
	font-size: 1em;
	color: none;
	cursor: pointer;
  margin: 0;
  outline-style: none;
}

#inputpostitem{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

#postrequest{
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#startbild{
  height: 35px;
  float: right;
}

#dialogplus{
  padding-top: 1px;
  height: 15px;
  float: right;
}

#spanlistheader{
  padding: 0;
  float: right;
  overflow: hidden;
}

@media(max-width: 970px){
  #spanlistheader{
    width: 100%;
  }
  #createreturn{
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

#listheader li{
  margin: 1em;
  border: none;
  text-align: center;
}

#createreturn{
  margin: 0;
  float: left;
  display: run-in;
  word-break: break-all;
}

#inputlistbyid{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

#butlistbyid{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.buttontext{
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.buttontext:hover{
  border: 1px solid antiquewhite;
}

.plusbutton:hover{
  transform:scale(1.3);
}

.side dialog {
  margin-left: auto;
  margin-right: auto;
	display: none;
	position: fixed;
	background: white;
	border: 1px solid grey;
	border-radius: 0.5em;
	z-index: 1002;
	width: 50%;
	height: auto;
}

.side dialog[open] {
	display: block;
}

h1{
  padding: 0px;
}

#qrcodepic{
  float: right;
  vertical-align: bottom;
  margin: 10px;
}

#qrqrcodelistpic{
  padding: 10px;
}

#qrcodeitemspic{
  text-align: center;
  margin: 10px;
}
